.gallery-wrap {
  .img-big-wrap {
    margin-bottom: 10px;
    border-radius: 0.37rem;
    overflow: hidden;
    background-color: #fff;
    div {
      text-align: center;
      display: block;
    }
    img {
      height: 450px;
      width: auto;
      display: inline-block;
      cursor: zoom-in;
    }
  }
  .thumbs-wrap {
    text-align: center;
    margin-bottom: 20px;
    .item-thumb {
      width: 60px;
      height: 60px;
      border: 1px solid #ddd;
      border-radius: 6px;
      margin: 3px;
      display: inline-block;
      overflow: hidden;
      &--active {
        border: 2px solid #000;
      }
    }
    img {
      max-width: 100%;
      max-height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}
