.loading{
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba($color: #FFF, $alpha: 1);
    z-index: 1000;
    position: fixed;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -o-transition: none !important;
        transition: none !important;
        user-select: none !important;
    }
}